.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;
    background-color: var(--VENETIAN_NIGHTS);
    padding: 25px 30px;
    color: var(--WHITE);
    font-size: 16px;
    line-height: 24px;
}

.footer a {
    align-self: center;
}

.footer a:hover {
    color: var(--LIGHT_GRAY);
}

@media (max-width: 765px){
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
