html,
body {
	margin: 0;
	padding: 0;
	color: var(--ASTROGRANITE_DEBRIS);
	background-color: #F5F6F8;
	font-family: 'Noto Sans Mono', monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--ASTROGRANITE_DEBRIS: #3B434E;
	--WHITE: #FFFFFF;
	--VENETIAN_NIGHTS:#7653FC;
	--VENETIAN_NIGHTS_HOVER:#6344DF;
	--FRESH_SALMON:#FC836D;
	--TIMES_SQUARE_SCREENS:#1DC37E;
	--SHALLOW_END: #C8F8E4;
	--LIGHT_GRAY: #EBEBEB;
	--NOTO_SANS_MONO: 'Noto Sans Mono', monospace;
}